.wrapper{
	height: calc(100vh - 30px);
	margin: 0;
	position:relative;
	overflow: hidden;
}
.trn{}
.toggle{
	cursor: pointer;
}
.hidden{
	display:none;
}
.pointer{
	cursor: pointer;
}
.clear{
	clear:both;
}
.displayBlock{
	display: block;
}
.bold{
	font-weight: bold;
}
.left{
	float: left;
}
.right{
	float: right;
}
.grey{
	color:grey;
}
.external{
	padding-right: 15px;
}
.external:after{
	position:absolute;
	content: "";
	width:10px;
	height:10px;
	margin-left: 5px;
	background: url(images/sprites.png) no-repeat -700px 0;
	opacity: 0.3;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version */
}
.block{
	background-color: rgba(255, 255, 255, 0.2);
	background-color: var(--background-color-medium);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border: 1px solid var(--background-color-border);
	padding:5px;
	margin-bottom: 10px;
	user-select: none;
}
.block:last-child{
	margin-bottom: 0;
}
.block h2{
	position: relative;
	margin: -5px -5px 10px -5px;
	padding: 2px 5px;
	font-size: 110%;
	background-color: rgba(255, 255, 255, 0.3);
	background-color: var(--background-color-light);
	border-bottom: #555;
}
.block h2:after{
	position:absolute;
	content:'';
	height:0;
	left:0;
	right:0;
	bottom: -2px;
	border-top: 1px solid #aaa;
}
.block h2.toggle:before{
	position:absolute;
	content:'';
	width: 0;
	height: 0;
	right: 10px;
	top: 10px;
	border-style: solid;
	border-width: 0 5px 6px 5px;
	border-color: transparent transparent #333333 transparent;
}
.block h2.toggled:before{
	border-width: 6px 5px 0 5px;
	border-color: #333333 transparent transparent transparent;
}
.error{
	padding:20px;
	margin:10px;
	border:1px solid #ff0000;
	background-color:#ffffff;
	width:500px;
	font-weight:bold;
}

/* ========== header ======================================================== */

#product-logo{
	height:50px;
	width:120px;
	display:table-cell; 
	vertical-align:middle; 
	text-align:center;
	position:relative;
}

#product-logo > img{
	height:30px;
	position: absolute;
	margin-top:10px;
}

.tab-center, .tab-right{
	float:left;
	text-align: center;
}

.tab-center ul li{
	float:left;
	margin:5px 0 0 40px;
	font-weight: 100;
	font-family: Poppins,sans-serif;
}

.tab-right ul li {
	float:left;
	font-weight: 100;
	font-family: Poppins,sans-serif;
	line-height:50px;
}

.tab-center ul li a {
    text-align: center;
	font-size: .85em;
	color:#999;
}

.tab-center ul li a i {
    margin: 5px 0 2px 0;
    display: block;
	font-size: 1.2em;
}

.tab-center ul li a:hover{
	color:#7386d5;
}

.tab-center > ul, .tab-right > ul{
	list-style-type: none;
}
.tab-right > ul{
	right:1px;
	position: absolute;
}

.tab-right > ul li{
	height:50px;
	width:150px;
	color:#999;
}

.tab-right > ul li:hover{
	background-color:#7386d5;
	cursor: pointer;
	color:#FFFFFF;
}

#btn{
	font-size:0.7em;
}
.logo{
	position: relative;
	display: inline-block;
	float: left;
	height: 30px;
	padding: 5px 5px 5px 36px;
	margin: 5px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
.logo:after{
	position:absolute;
	content:"";
	left: 0;
	top: 0;
	width: 31px;
	height: 30px;
	background: url(images/sprites.png) -50px -100px no-repeat;
}
.logo:hover:after{
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}
.about-logo{
	margin-left:22%;
	animation:shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);;
}
.about-name{
	font-size:15px;
	color:#006900;
	font-weight:bold;
}
@keyframes shake{
	10%, 90%{
		transform: translate(2px, 0px);
	}
	20%, 80%{
		transform: translate(5px 0px);
	}
	30%, 50%, 70%{
		transform: translate(0px 0px;);
	}
	40%, 60%{
		transform: translate(6px 0px);
	}
}
/* ========== sub-header ==================================================== */

.submenu{
	height:40px;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: var(--background-color-medium);
	overflow: hidden;
}
.attributes{
	float: left;
	width: calc(100% - 115px);
	height: 30px;
	margin-top: 5px;
	padding: 3px 10px 0 10px;
	border: 0;
}
.attributes .item{
	display: inline-block;
	margin-right: 20px;
}
.attributes input[type="number"]{
	width: 60px;
	margin-right: 5px;
}
.attributes button{
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #444;
	background-color: transparent;
	margin-right: 5px;
}
.attributes button:hover{
	background-color: rgba(255, 255, 255, 0.3);
	background-color: var(--background-color-light);
}
.attributes button.active{
	background-color: #419147;
	background-color: var(--background-color-active);
}

/* ========== left sidebar ================================================== */

.sidebar_left{
	position: absolute;
	right:0px;
	top: 45px;
	width: 40px;
	padding: 0 5px;
	background-color: var(--background-color-medium);
}
.sidebar_left .item{
	display:block;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: var(--background-color-medium);
	background-image: url(images/sprites.png);
	background-repeat: no-repeat;
	height: 25px;
	margin: 5px 0 5px 0;
	overflow: hidden;
	cursor: pointer;
	/*filter: grayscale(1);*/
}
.sidebar_left .item:hover{
	background-color: rgba(255, 255, 255, 0.5);
	background-color: var(--background-color-lightest);
}
.sidebar_left .item.active{
	background-color: #419147;
	background-color: var(--background-color-active);
}

.sidebar_left .select{ background-position: -342px 2px; }
.sidebar_left .selection{ background-position: -43px -47px; }
.sidebar_left .magic_wand{ background-position: -294px -48px; }
.sidebar_left .brush{ background-position: 5px 3px; }
.sidebar_left .erase{ background-position: -444px 3px; }
.sidebar_left .fill{ background-position: -145px 2px; }
.sidebar_left .pick_color{ background-position: -644px 3px; }
.sidebar_left .pencil{ background-position: -594px 3px; }
.sidebar_left .line{ background-position: -193px -46px; }
.sidebar_left .text{ background-position: -394px 4px; }
.sidebar_left .rectangle{ background-position: -94px -45px; }
.sidebar_left .circle{ background-position:  -547px 2px; }
.sidebar_left .blur{ background-position: -41px 2px; }
.sidebar_left .sharpen{ background-position: 6px -47px; }
.sidebar_left .desaturate{ background-position: -195px 3px; }
.sidebar_left .bulge_pinch{ background-position: -93px 5px; }
.sidebar_left .clone{ background-position: -493px 2px; }
.sidebar_left .gradient{ background-position: -243px 5px; }
.sidebar_left .crop{ background-position: -294px 3px; }
.sidebar_left .animation{ background-position: -244px -47px; }
.sidebar_left .media{ background-position: -145px -47px; }

@media screen and (max-width:550px){
	#sidebar_left{
		left: -110px;
	}
}

/* ========== right sidebar ================================================= */

.sidebar_right{
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	right: 5px;
	bottom: 5px;
	width: 200px;
	height: 150px;
	background-color: #FFFFFF;
	transition: 0.2s;
}
.sidebar_right.active{
	right:0 !important;
}
.sidebar_right .block.layers{
	flex: 1;
	overflow-y: auto;
}

/* preview */
.canvas_preview_wrapper{
	position:relative;
	height:100px;
	margin-bottom:10px;
}
.preview canvas{
	cursor: pointer;
}
.details input{
	padding: 5px 10px;
}

.left{
	height: 100%;
    width: 0;
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-content input{
	background-color:transparent;
	border:none;
	border-bottom:3px solid #6d7fcc;
	color:#FFFFFF;
	font-size:2.3em;
	width:80%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus, .searchbtn:hover{
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.searchbtn{
	font-size: 60px;
	color: #818181;
	cursor: pointer;
	position: absolute;
	top:-10px;
}

#theme-list{
	width:80%;
	margin:0 auto;
	text-align: left;
	color:#6d7fcc;
	font-size:1.5em;
	top:20px;
}


.theme-ul{
	list-style-type: none;
}

.theme-ul > li{
	float: left;
	padding:10px;
	position: relative;
}

.theme-ul > li > img{
	height:250px;
	width:200px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.theme-ul > li > img:hover{
	opacity: 0.5;
	cursor: pointer;
}

.theme-ul > li .middle:hover{
	opacity: 1;
}


.text {
	background-color: #f05e23;
	color: white;
	top:10%;
	left:1px;
	height:25px;
	line-height: 25px;
	width:60%;
	font-size: 16px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	/*padding: 16px 32px;*/
  }

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* color */
.color_area{
	border: 1px solid #444;
	width: 100%;
	height: 40px;
	cursor: pointer;
}
.colors .content{
	margin-top: 10px;
}
.main_color_alt{
	border:1px solid #393939;
	margin-top:10px;
	width:100%;
	height:40px;
}
.main_color_rgb{
	margin-top:10px;
}
.main_color_rgb div{
	display: inline-block;
	width: calc(50% - 3px);
	vertical-align: top;
}
.main_color_rgb span, .hex{
	display: inline-block;
	font-weight: bold;
	width: 35px;
}
.main_color_rgb input{
	width:50px;
}
.main_color_rgb .red{ color:#aa0000; }
.main_color_rgb .green{ color:#00aa00; }
.main_color_rgb .blue{ color:#0000aa; }
.main_color_rgb .alpha{ color: #333333; }

.color_hex{
	width: calc(100% - 41px);
}
#all_colors{
	margin-top:10px;
	padding:3px 0px 3px 3px;
}

/* layers */
.layers_list{
	margin-top: 10px;
}
.layers_arrow{
	display:inline-block;
	float:right;
	margin-left:5px;
	padding:1px 8px;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: var(--background-color-medium);
	border:1px solid #444;
	text-decoration:none;
	color:#000000;
	font-size:12px;
}
.layer_add{
	display:inline-block;
	padding:1px 8px;
	background-color: #419147;
	background-color: var(--background-color-active);
	border:1px solid #444;
	cursor:pointer;
	text-decoration:none;
}
.layers_list .item{
	margin-bottom:2px;
}
.layers_list .layer_name{
	display:block;
	padding:1px 5px 3px 5px;
	height:19px;
	overflow:hidden;
	background-color:#989898;
	border:1px solid #393939;
	border-radius:3px;
	cursor:pointer;
	overflow:hidden;
	font-size: 12px;
	color:#333333;
	white-space: nowrap;
}
.layers_list .item.active .layer_name{
	background-color: #419147;
	background-color: var(--background-color-active);
}
.layers_list .visibility{
	float:left;
	cursor:pointer;
	padding:0px 3px 0px 3px;
	margin-right: 5px;
	width:20px;
	height:19px;
	background: url('images/sprites.png') no-repeat -148px -99px;
	opacity:0.1;
}
.layers_list .visible{ opacity:0.4; }
.layers_list .delete{
	float:right;
	cursor:pointer;
	padding:0px 3px 0px 3px;
	width:12px;
	height:19px;
	margin-left: 5px;
	background: url('images/sprites.png') no-repeat -100px -96px;
}
/* filters */
.layers_list .filters{
	margin-bottom: 5px;
}
.layers_list .filter{
	margin-bottom: 2px;
	margin-left: 30px;
	opacity: 0.7;
}
.layers_list .filter .layer_name{
	position: relative;
}
.layers_list .filter .layer_name:after{
	position:absolute;
	content:"fx";
	right: -4px;
	top:1px;
	bottom:0;
	width: 20px;
}

.sidebar_right .label{
	display: inline-block;
	width: 60px;
}
.sidebar_right button.extra{
	border: 1px solid #444;
	background-color: var(--background-color-medium);
}
.info .toggle.toggled{
	margin-bottom: -3px;
}
.toggle-full.toggle.toggled{
	margin-bottom: -3px;
}
.block.details .row{
	clear:both;
	margin-bottom: 2px;
}
.block.details input{
	width: 70px;
	padding: 3px 5px;
}
.block.details select{
	width: calc(100% - 70px);
	height: 23px;
}
.block.details button{
	height: 23px;
	border: 1px solid #444;
	background-color: var(--background-color-medium);
}
.block.details button.reset{
	width: 25px;
	overflow: hidden;
	opacity: 0.3;
	background-image: url(images/sprites.png);
	background-repeat: no-repeat;
	background-position: -747px 2px;
	color: transparent;
}
.block.details button.active{
	background-color:  var(--background-color-active);
}

@media screen and (max-width:700px){
	.sidebar_right{
		right: -200px;
	}
	.sidebar_right.active{
		box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.75);
	}
}

/* ========== content ======================================================= */

.modal {
    position: fixed;
    top: 17% !important;
    left: 0%;
}

.display-tags{
	float:left;
	overflow:auto;
	height:200px;
	border:1px solid #eee;
	width:200px;
	background-color:#FFFFFF;
	margin-left:30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}
.floater{
	float:left;
}
.div-right{
	overflow:auto;
	height:200px;
	border:1px solid #eee;
	width:200px;
	background-color:#FFFFFF;
	margin-left:5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.div-left{
	border:1px solid #999;
	/*margin-top:20px;*/
}
.div-left img{
	height:200px;
	width:200px;
}
.tags-list{
	list-style-type:none;
	margin:0; 
	padding:5px;
}
.tags-list li{
	height:35px;
	font-size:1.2em;
	border-bottom:1px solid #eee;
}
.image-lister{
	margin:0;
	padding:0;
	width:432px;
	height:300px;
	overflow-y: auto;
}
.image-lister li{
	clear:both;
}

#dynamic{
	height:100px;
	width:100px;
	border: 5px solid #eee;
	margin:10px 0 0 5px;
}

.photo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
  }
  
  .photo img{
	width: 200px;
	height: 280px;
	object-fit: cover;
	filter: grayscale(100%) contrast(120%);
	box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
	display: block;
	transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
	margin-top: -10px;
  }
  
  .photo:hover img{
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }
  
  .photo .glow-wrap{
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	margin-top: -10px;
  }
  
  .photo .glow{
	display: block;
	position:absolute;
	width: 40%;
	height: 200%;
	background: rgba(255,255,255,.2);
	top: 0;
	filter: blur(5px);
	transform: rotate(45deg) translate(-450%, 0);
	transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover .glow{
	transform: rotate(45deg) translate(450%, 0);
	transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover img,
  .photo:hover .glow-wrap{
	margin-top: 0;
  }

.main_wrapper{
	overflow: hidden;
	position: absolute;
	top: 40%;
	bottom: 0;
	left: calc(50% + 80px);
	right: 0;
	transform: translateX(calc(-50% - 40px)) translateY(-40%);
}
.canvas_wrapper{
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}
.canvas_wrapper canvas{
	/*border: 1px solid #393939;*/
	box-sizing: content-box;
}

#canvas_minipaint{
	position: absolute;
	margin: 0 auto;
	max-height: 100% !important;
	max-width: 100% !important;
	background: #ffffff;
}
.image-bar{
	width:100%;
	height:100px;
	left:10px;
	position:absolute;
}

.img-header span{
	line-height: 40px;
}

#layout {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
	text-align: center;
	max-width:220px;
	top:50px;
	left:100px;
}

#layoutheader {
    padding: 4px;
    cursor: move;
    z-index: 10;
    background-color: #6d7fcc;
    color: #fff;
}
#layoutheader i{
	position: absolute;
	right:10px;
	cursor:pointer;
	top:6px;
}

ul{
	list-style-type: none;
}

#layoutbody ul{
	margin:1px;
	padding:0;
}

#layoutbody ul li{
	float: left;
	margin: 3px;
	cursor:pointer;	
}

#layoutbody ul li img{
	height:120px;
	width:100px;
}

.head-left{
	text-align: left;
}

.head-center{
	text-align: center;
}

.head-right{
	text-align: right;
}

.head-right-span{
	margin:10px;
	float:right;
	width:100px;
	height:20px;
	border-top:1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	border-right:1px solid #e3e3e3;
	border-bottom:1px solid #B8B8B8;/*D8D8D8*/
	border-radius: 5px;
	background-color:#FDFDFD;
	cursor: pointer;
}

.head-right-span > span{
	margin:-10px 10px 0 0;
}

.sizer{
	color:#575757;
	width:30%;
	height:40px;
	float:left;
}
.img-header{
	height:40px; 
	width:100%;
	background-color:#eee;
	border: 1px solid #d6d6d6;
}
.image-header{
	left:80px;;
	width: 100%;
	height:19%;
	bottom: 0;
	position:absolute;
	background-color:#eee;
}
.download-image{
	position:absolute;
	margin:0 auto;
	height:40px;
}
.download-image input{
	margin-left:20px;
}

#btn-type{
	border:1px solid #eee;
	font-size:1.2em;
}
.sub-tab {
	position: absolute;
	top:20px;
	left:80px;
	height:40px;
	width:100%;
	background-color:#eee;
	z-index:999;
	/*border: 1px solid #d6d6d6;*/
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
	transition: height, 0.5s linear;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.11);
}
    .open {
     -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
    }

.sub-submenu{
	height:100%;
	border:1px solid red;
}
#menu-header{
	height:40px;
	color:#393939;
	font-size:1.8em;
	background-color: #6d7fcc;
}

.subwin-layout{
	background: #FFFFFF;
}

#subwin-wrapper{
	position: absolute;
	top:0px;
	left:80px;
	height:100%;
	width:15%;
	background-color: #FFFFFF;
}

#mouse{
	position:absolute;
	pointer-events:none;
	width:10px;
	height:10px;
	z-index:10;
}
#mouse.rect{
	border:1px solid rgba(0,0,0,0.5);
}
#mouse.circle{
	border:1px solid rgba(0,0,0,0.5);
	border-radius:50%;
}
.transparent-grid{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	pointer-events: none;
	/*background: url(images/grid.png) repeat top left;*/
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQElEQVQ4T2N89+7dfwYigKCgIBGqGBgYRw3EGU6jYYgzaIZAsvn//z9ROeX9+/fE5ZRRA3GG02gY4s4pgz7ZAAAnSWvHPkHXaAAAAABJRU5ErkJggg==') repeat top left;
	z-index:1;
	/* disable antialiasing */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}
.transparent-grid.white{
	background:white;
}
.transparent-grid.green{
	background: #5be471;
}
.transparent-grid.grey{
	background: #dfdfdf;
}
canvas{
	position:relative;
	z-index:2;
}
#canvas_back{
	position: absolute;
	background-color:#ffffff;
	outline: none;
}
#canvas_grid{
	pointer-events:none;
}
.group{
	border:1px solid #888888;
	margin: 5px 0px 5px 0px;
	padding:5px 8px;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
}
.flex-container .item{
	margin: 2px 0;
	width: 65px;
}
.flex-container .item:empty{
	height: 0;
	border: none;
}

@media screen and (max-width:700px){
	body{
		padding-top:50px;
	}
	.main_wrapper{
		margin-right: 5px;
	}
}
@media screen and (max-width:550px){
	.canvas_wrapper{
		margin-left: 0px;
	}
}





.canvas-container, 
.upper-canvas,
.lower-canvas {
	position: absolute !important;
	max-width: 100% !important;
	max-height: 100% !important;
}